{% extends 'base.html' %}
{% block title %}
    Projects
{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'issue_create' %}">Add new issue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_create' %}">Create Project</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% for project in projects %}
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary">More</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}